<header>
  <mat-toolbar class="main-toolbar" color="primary">
    <div class="sidenav-toggle">
      <button mat-icon-button (click)="sidenav.toggle()">
        <span class="material-icons">menu</span>
      </button>
    </div>
    <div class="toolbar-container">
      <h1>dev-todo</h1>
      <div class="toolbar-right">
        <button mat-icon-button color="accent">
          <span class="material-icons">account_circle</span>
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>
<main class="flex-container">
  <mat-sidenav-container class="flex-container">
    <mat-sidenav
      #sidenav
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [class.sidenav-handset]="isHandset$ | async"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
    >
      <mat-nav-list>
        <mat-list-item [routerLink]="['todo']">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <div mat-line>My Todos</div>
        </mat-list-item>
        <mat-list-item [routerLink]="['trash']">
          <mat-icon mat-list-icon>delete</mat-icon>
          <div mat-line>Recycle Bin</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content" role="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
