<router-outlet></router-outlet>

<header>
  <mat-toolbar class="header-toolbar" color="primary">
    <div class="sidenav-btn-container">
      <button mat-icon-button>
        <span class="material-icons">menu</span>
      </button>
    </div>
    <div class="toolbar-container">
      <h1>dev-todo</h1>
      <div class="toolbar-right">
        <button mat-icon-button color="accent">
          <span class="material-icons">account_circle</span>
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>
